

<div class="detalle" style="border: 1px solid #ccc;">

    <div id="ViewDetallePublicidad" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
        @if (ViewBag.DetallePublicacionContador > 0)
        {
            <h3>Detalle Publicacion</h3>
            <hr />

            <a href="@Url.Action("Empleos", "App", new { nombrePublicacion = "", comuna = "", idPublicacion = "" })" class="btn border">Cerrar</a>
            <div class="detalle">
                @foreach (var item in ViewBag.DetallePublicacion as ICollection<Model.Models.DetallePublicacion>
                    )
                {
                    <div class="jumbotron">
                        <h1 class="display-4">@item.TituloPublicacion - @item.AutorPublicacion</h1>
                        <p>@item.DescripcionPublicacion</p>
                        <hr class="my-4" />
                        <p>@item.FechaPublicacion</p>
                        <p>Sueldo liquido: $ @item.MontoPublicacion</p>
                    </div>
                }

            </div>

            <div id="ViewComentariosPublicidad" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
                @Html.Partial("UsuarioEmpresa/_ComentariosPubEmpresa")
            </div>

            <hr />
            <div id="ViewVotacionParaUsuario" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
                @Html.Partial("App/_VotacionPublicacionUsuarios")
            </div>
            <hr />

            <div id="ViewComentariosParaUsuario" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
                @Html.Partial("App/_ComentariosUsuarios")
            </div>

            <hr />
            if (Session["IdUser"] != null && ((string)Session["IdUser"]) != "")
            {
                if (ViewBag.referenciaSolicitud.Count <= 0 || ViewBag.referenciaSolicitud == null)
                {
                    <div id="ViewBotonCV" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
                        @foreach (var item22 in ViewBag.DetallePublicacion as ICollection<Model.Models.DetallePublicacion>)
                        {
                            <input type="text" id="usuarioLogueado" value="@Session["Usuario"]" />
                            <a href="javascript:void(0);" id="btnEnviarCV" onclick="PostularEmpleo(@Session["IdUser"], @item22.IdPublicacion);" class="btn btn-primary text-center btn-block">Enviar CV</a>
                        }
                    </div>
                }
                else
                {
                    foreach (var itempostulacion in ViewBag.referenciaSolicitud as ICollection<Model.Models.SolicitudesEmpresaPublicacion>)
                    {
                        <div id="ViewYapostulo" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
                            <h4 class="text-center"><b>Postulado el día @itempostulacion.FechaSolicitud</b></h4>
                        </div>
                    }
                }
            }
            else
            {
                <div id="ViewBotonCV" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 10px 0px 0px 0px;">
                    @foreach (var item22 in ViewBag.DetallePublicacion as ICollection<Model.Models.DetallePublicacion>)
                    {
                        <input type="text" id="usuarioLogueado" value="@Session["Usuario"]" />
                        <a href="javascript:void(0);" id="btnEnviarCV" onclick="return PostularEmpleo(0, @item22.IdPublicacion);" class="btn btn-primary text-center btn-block">Enviar CV</a>
                    }
                </div>
            }
            <hr />


        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <div class="error-details">
                            <h4>  No se ha seleccionado alguna publicación.</h4>
                        </div>

                    </div>
                </div>
            </div>

        }

    </div>

</div>



<div class="modal fade" id="modalPreguntasPublicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("App/_ModalPreguntasPublicacion")
        </div>
    </div>
</div>