@if (ViewBag.DetallePublicacion.Count > 0)
{
    <h3>Detalle Publicacion</h3>
   <a href="@Url.Action("Index", "UsuarioEmpresa")" class="btn border">Volver</a>
    <hr />
    foreach (var item in ViewBag.DetallePublicacion as ICollection<Model.Models.DetallePublicacion>)
    {
        <div class="jumbotron">
            <h1 class="display-4">@item.TituloPublicacion</h1>
            <p>@item.DescripcionPublicacion</p>
            <hr class="my-4" />
            <p>@item.AutorPublicacion - @item.FechaPublicacion</p>
            <button type="button" id="EditarPublicacion" class="btn btn-primary">Editar</button>
        </div>
    }


}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#808080"> No se puede mostrar el detalle</h2>

        </div>
    </div>

}