
@if (ViewBag.ReferenciaDatosPerfil.Count > 0 && ViewBag.ReferenciaDatosPerfil != null)
{
    foreach (var item in ViewBag.ReferenciaDatosPerfil as ICollection<Model.Models.UsuarioEmpresa>)
    {

        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    @if (ViewBag.ReferenciaImagenUsuario.Count > 0)
                    {
                        foreach (var item2 in ViewBag.ReferenciaImagenUsuario as ICollection<Model.Models.ImagenUsuario>)
                        {
                            <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item2.Imagen))" style="max-width:100%;" />
                        }
                    }
                    <h6>Imagen</h6>
                </div>
                <div class="text-center">
                    @using (Html.BeginForm("SubirImagenes", "UsuarioEmpresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" id="filePerfilUsuarioDeEmpresa" name="file" style="display: none;" onchange="uploadImgPerfilUsuarioDeEmpresa(this)" />
                        <button id="uploadFileUsuarioDeEmpresa" style="display: none;"></button>
                    }
                    <button id="GuardarImagendePerfilUsuarioDeEmpresa" class="btn btn-primary btn-block" style="text-align: center; font-size:12px;">
                        <i class="fas fa-file fa-2x" style="margin-right:5px;"></i>
                        <span style="display: inline-block; margin-top: -4px;">
                            <i style="font-size: 14px; font-style: normal; display: block; margin-bottom: -5px;" class="text-center">Subir una imagen de perfil</i>
                        </span>
                    </button>
                    <div class="align-items-center" style="display:inline-flex;">
                        <strong class="text-primary text-center" style="display:none;" id="textoSpinnerUsuarioDeEmpresa">Cargando...</strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="spinner-border text-primary" role="status" style="display:none;" aria-hidden="true" id="spinnerUsuarioDeEmpresa"></div>

                    </div>
                    @*@using (Html.BeginForm("SubirImagenes", "UsuarioEmpresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <span class="">
                            <input type="file" name="file" id="file" style="width: 100%;" />
                        </span>
                        <br />
                        <br />
                        <input type="submit" value="Guardar Imagen" class="submit btn btn-outline-success" />
                    }*@
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <h3>Información de @item.NombreUsuarioE</h3>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active text-dark" id="home">
                        <hr>
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Información Importante</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12"><label class="labels">Rut</label><input type="text" autocomplete="off" class="form-control" placeholder="Ingrese su Rut" readonly name="rut" id="rut" value="@item.RutUsuarioE"></div>
                                <div class="col-md-6"><label class="labels">Nombre</label><input type="text" autocomplete="off" class="form-control" placeholder="Ingrese su nombre" readonly name="nombre" value="@item.NombreUsuarioE"></div>
                                <div class="col-md-6"><label class="labels">Apellido</label><input type="text" autocomplete="off" class="form-control" value="@item.ApellidoUsuarioE" readonly name="apellido" placeholder="Apellido"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Telefono</label><input type="text" autocomplete="off" class="form-control" placeholder="Ingrese su telefono" id="telefono" name="telefono" value="@item.TelefonoUsuarioE"></div>
                                <div class="col-md-12"><label class="labels">Correo</label><input type="text" autocomplete="off" class="form-control" placeholder="enter address" id="correo" name="correo" value="@item.CorreoUsuarioE"></div>


                                <div class="mt-5 text-center"><button class="btn btn-success profile-button" id="btnGuardarPerfilUsuarioEmpresa" type="button">Guardar Datos</button></div>
                            </div>
                        </div>

                        <hr>

                    </div><!--/tab-pane-->


                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div>

    }

}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#808080"> No existen información del trabajador.</h2>

        </div>
    </div>
}