@if (ViewBag.Candidatos.Count > 0 && ViewBag.Candidatos != null)
{

    <h5>Candidatos de la publicacion</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Fecha</th>
                <th>Correo</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Solicitud</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Candidatos as ICollection<Model.Models.CandidatoEmpleos>)
            {
                <tr>
                    <td>@item.NombreCandidato</td>
                    <td>@item.FechaSolicitud</td>
                    <td>@item.CorreoCandidato</td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("PerfilCandidato", "Empresa", new { idUsuario = item.IdCandidato })">Ver</a>
                    </td>
                    <td>
                        @if (item.EstadoSolicitud == "1")
                        {
                            <a href="javascript:void(0);" class="text-info font-weight-bold" title="Ver Curriculum" onclick="ActualizarEstadoSolicitud(@item.IdCandidato, 2, @ViewBag.IdPublicacion);">Ver Curriculum</a>
                        }
                        else if (item.EstadoSolicitud == "2")
                        {
                            <a href="javascript:void(0);" class="text-primary font-weight-bold" title="Seleccionar candidato" onclick="ActualizarEstadoSolicitud(@item.IdCandidato, 3, @ViewBag.IdPublicacion);">Seleccionar Candidato</a>
                        }
                        else if (item.EstadoSolicitud == "3")
                        {
                            <a href="javascript:void(0);" class="text-success font-weight-bold" title="Ultima etapa candidato" onclick="ActualizarEstadoSolicitud(@item.IdCandidato, 4, @ViewBag.IdPublicacion);">Finalista Candidato</a>
                        }
                        else if (item.EstadoSolicitud == "4")
                        {
                            <a href="javascript:void(0);" class="text-success font-weight-bold" title="Ultima etapa candidato" onclick="ActualizarEstadoSolicitud(@item.IdCandidato, 5, @ViewBag.IdPublicacion);">Contratar Candidato</a>
                        }
                        else
                        {
                            <p class="text-primary"><h5>Contratado</h5></p>
                        }

                    </td>
                    <td>
                        @if (item.EstadoSolicitud == "1")
                        {
                            <span class="badge badge-info">Ingresada</span>
                        }
                        else if (item.EstadoSolicitud == "2")
                        {
                            <span class="badge badge-info">Curriculum visto</span>
                        }
                        else if (item.EstadoSolicitud == "3")
                        {
                            <span class="badge badge-warning">Candidato en siguiente prueba</span>
                        }
                        else if (item.EstadoSolicitud == "4")
                        {
                            <span class="badge badge-success">Candidato seleccionado</span>
                        }
                        else
                        {
                            <span class="badge badge-primary">Candidato contratado</span>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

}

else
{
    <h5>Candidatos de la publicacion</h5>
    <div class="row">
        <div class="col-md-12">
            @*<table class="table table-bordered">
                  <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Fecha</th>
                            <th>Correo</th>
                            <th>Perfil</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Juan Perez</td>
                            <td>18/11/2020</td>
                            <td>jperez@gmail.com</td>
                            <td>
                                <a class="btn btn-outline-success" href="@Url.Action("PerfilCandidato", "Empresa", new { idUsuario = 3 })">Ver</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="text-info font-weight-bold" title="Ver Curriculum" onclick="ActualizarEstadoSolicitud(1, 1, 2);">Ver Curriculum</a>
                                <span class="clearfix">&nbsp;&nbsp;</span>
                                <a href="javascript:void(0);" class="text-primary font-weight-bold" title="Seleccionar candidato" onclick="ActualizarEstadoSolicitud(1, 2, 2);">Seleccionar Candidato</a>
                                <span class="clearfix">&nbsp;&nbsp;</span>
                                <a href="javascript:void(0);" class="text-success font-weight-bold" title="Ultima etapa candidato" onclick="ActualizarEstadoSolicitud(1, 3, 2);">Finalista Candidato</a>
                            </td>
                        </tr>


                    </tbody>
                </table>*@
            <div class="error-template">
                <div class="error-details">
                    <h4>  No se encontraron candidatos.</h4>
                </div>

            </div>
        </div>

    </div>
}


