@if (ViewBag.DetallePublicacion.Count > 0)
{
    <h3>Detalle Publicacion</h3>
    <a href="@Url.Action("Principal", "Empresa")" class="btn border">Volver</a>
    <hr />
    foreach (var item in ViewBag.DetallePublicacion as ICollection<Model.Models.DetallePublicacion>)
    {
        <div class="jumbotron">
            <h1 class="display-4">@item.TituloPublicacion</h1>
            <p>@item.DescripcionPublicacion</p>
            <hr class="my-4" />
            <p>@item.AutorPublicacion - @item.FechaPublicacion</p>
            <input type="hidden" name="url" id="url" value="@Url.Action("ActivarDesactivarPub","Empresa")" />
            <button type="button" id="EditarPublicacion" class="btn btn-primary">Editar</button>
            @if (item.EstadoPublicacion == 1)
            {
                <button type="button" id="@item.IdPublicacion" class="btn btn-outline-danger DesactivarPublicacion">Desactivar</button>
            }
            else if(item.EstadoPublicacion == 0)
            {
                <button type="button" id="@item.IdPublicacion" class="btn btn-outline-info ActivarPublicacion">Activar</button>
            }
        </div>
    }


}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#808080"> No se puede mostrar el detalle</h2>

        </div>
    </div>

}