<style>
    #myTab li a {
        color: #000;
    }
</style>
@if (ViewBag.ReferenciaDatosUsuario != null)
{
    foreach (var item in ViewBag.ReferenciaDatosUsuario as ICollection<Model.Models.PerfilCandidatoPostulacion>)
    {
        <div class="emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-head">
                            <h5>
                                Nombre: @item.NombreUsuario - Apellido Paterno: @item.ApellidoMUsuario - Apellido Materno: @item.ApellidoPUsuario
                            </h5>
                            <h6>
                                @item.CorreoUsuario
                            </h6>
                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="informacion-tab" data-toggle="tab" href="#informacion" role="tab" aria-controls="informacion" aria-selected="true">Información</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="experiencia-tab" data-toggle="tab" href="#experiencia" role="tab" aria-controls="experiencia" aria-selected="false">Experiencia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="educacion-tab" data-toggle="tab" href="#educacion" role="tab" aria-controls="educacion" aria-selected="false">Educación</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <br />
                <div class="row">
                    <hr />
                    <div class="col-md-3">

                        <ul class="list-group">
                            <li class="list-group-item text-muted">Postulaciones a empleos de mi empresa <i class="fa fa-home fa-1x"></i></li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Programador .NET</strong></span> 5</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Programador PHP</strong></span> 2</li>
                        </ul>
                        <hr />
                        <div class="card card-default">
                            <div class="card-header">Redes sociales</div>
                            <div class="card-body">
                                <i class="fab fa-facebook-f"></i> <i class="fab fa-github"></i> <i class="fab fa-twitter"></i> <i class="fab fa-pinterest"></i> <i class="fab fa-google-plus"></i>
                            </div>
                        </div>
                        <hr />
                        <div class="card card-default">
                            <div class="card-header">Carta de Presentación</div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Rut</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>@item.RutUsuario</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Nombres</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>@item.NombreUsuario</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Apellidos</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>@item.ApellidoPUsuario @item.ApellidoMUsuario</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Telefono</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>@item.TelefonoUsuario</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Correo</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>@item.CorreoUsuario</p>
                                    </div>
                                </div>
                                <h4>Habilidades</h4>

                                <div class="row">
                                    <div class="col-md-12">
                                        @if (ViewBag.ReferenciaHabilidadesUsuario.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var hab in ViewBag.ReferenciaHabilidadesUsuario as ICollection<Model.Models.HabilidadesUsuario>)
                                                {
                                                    <li>@hab.HabilidadNombre</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <div class="error-template">
                                                <div class="error-details">
                                                    <h4>No hay descripción de habilidades.</h4>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>

                                <h4>Idiomas</h4>

                                <div class="row">
                                    <div class="col-md-12">
                                        @if (ViewBag.ReferenciaIdiomasUsuario.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var idiomas in ViewBag.ReferenciaIdiomasUsuario as ICollection<Model.Models.IdiomasUsuario>)
                                                {
                                                    <li>@idiomas.NombreIdioma - @idiomas.NivelIdioma</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <div class="error-template">
                                                <div class="error-details">
                                                    <h4>No hay descripción de idiomas.</h4>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade" id="experiencia" role="tabpanel" aria-labelledby="experiencia-tab">
                                @if (ViewBag.ReferenciaExperienciasUsuario.Count > 0)
                                {
                                    foreach (var exp in ViewBag.ReferenciaExperienciasUsuario as ICollection<Model.Models.ExperienciaUsuario>)
                                    {
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>@exp.Nombre - @exp.Fecha_Inicio / @exp.Fecha_Termino</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>@exp.Descripcion</p>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="error-template">
                                        <div class="error-details">
                                            <h4>No hay experiencias de empleos anteriores.</h4>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane fade" id="educacion" role="tabpanel" aria-labelledby="educacion-tab">
                                @if (ViewBag.ReferenciaExperienciasUsuario.Count > 0)
                                {
                                    foreach (var edu in ViewBag.ReferenciaEducacionUsuario as ICollection<Model.Models.EducacionUsuario>)
                                    {
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>@edu.TituloEducacion - @edu.FechaDesdeEducacion / @edu.FechaHastaEducacion</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p><h6>@edu.InstitucionEducacion</h6></p>
                                                <p>@edu.DescripcionEducacion</p>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="error-template">
                                        <div class="error-details">
                                            <h4>No hay descripción de estudios.</h4>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    }

}
