@if (ViewBag.referenciaTarjetaEmpresa != null && ViewBag.referenciaTarjetaEmpresa.Count > 0)
{


    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <div class="card-header"><h3>Plan seleccionado</h3></div>
                <div class="card-body">
                    @foreach (var detalle in ViewBag.referenciaPlanSeleccionado as ICollection<Model.Models.PlanesEmpresa>)
                    {
                        <div class="col-lg-12">
                            <div class="bg-white p-5 rounded-lg shadow">
                                @if (detalle.NombrePlan == "BASICO")
                                {
                                    <h1 class="h6 text-uppercase font-weight-bold mb-4">@detalle.NombrePlan</h1>
                                }
                                else if (detalle.NombrePlan == "ENTERPRISE")
                                {
                                    <h1 class="h6 text-uppercase font-weight-bold mb-4">@detalle.NombrePlan</h1>
                                }
                                else
                                {
                                    <h1 class="h6 text-uppercase font-weight-bold mb-4">@detalle.NombrePlan</h1>
                                }

                                @if (detalle.NombrePlan != "NORMAL")
                                {
                                    <h2 class="h1 font-weight-bold">$ @detalle.PrecioPlan<span class="text-small font-weight-normal ml-2"></span></h2>
                                }
                                else
                                {
                                    <h2 class="h1 font-weight-bold">$ @detalle.PrecioPlan<span class="text-small font-weight-normal ml-2"></span></h2>
                                }
                                <div class="custom-separator my-4 mx-auto bg-primary"></div>

                                <ul class="list-unstyled my-4 text-small text-left">
                                    @foreach (var item2 in detalle.detallePlan)
                                    {
                                        if (detalle.NombrePlan == "NORMAL")
                                        {
                                            <li class="mb-2">
                                                <i class="fa fa-check mr-1 text-success CheckLi"></i>@item2.CantidadPlan @item2.NombreDetalle
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="mb-2">
                                                <i class="fa fa-check mr-1 text-success CheckLi"></i> + @item2.CantidadPlan @item2.NombreDetalle
                                            </li>
                                        }



                                    }
                                </ul>


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <aside class="col-sm-9">
            @foreach (var item in ViewBag.referenciaTarjetaEmpresa as ICollection<Model.Models.TarjetaEmpresa>)
            {
                <article class="card">
                    <div class="card-header"><h3>Tarjeta para pago</h3></div>
                    <div class="card-body">


                        <input type="hidden" id="idPlan" value="@ViewBag.idPlan" />

                        <input type="hidden" id="idPlanAnterior" value="@ViewBag.idPlanAnterior" />
                        <div class="form-group">
                            <label for="username">Nombre de tarjeta</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="nombreT" readonly value="@item.NombreTarjeta" placeholder="" required="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="form-group">
                            <label for="cardNumber">Número de Tarjeta</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                </div>
                                <input type="text" class="form-control" value="@item.NumeroTarjeta" readonly name="numeroT" placeholder="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiration</span> </label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" value="@item.FechaExpiracion" readonly name="fechaT" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label data-toggle="tooltip" title="" data-original-title="3 números detrás de la tarjeta">CVV <i class="fa fa-question-circle"></i></label>
                                    <input class="form-control" required="" value="@item.TarjetaCVV" readonly type="text">
                                </div> <!-- form-group.// -->
                            </div>
                        </div> <!-- row.// -->
                        <button class="subscribe btn btn-success btn-block" id="btnPagar" type="button"> Pagar  </button>

                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->
            }
        </aside> <!-- col.// -->

    </div> <!-- row.// -->
    <!--container end.//-->

}
else
{
    <div class="row">
        <div class="col-md-12" style="margin: 20px 0px 0px 20px;">
            <h2 style="color:#808080">No se encontró registro de tarjetas</h2>
        </div>
    </div>

}