@if (ViewBag.referenciaTarjetaEmpresa != null)
{
    <h4>Pago</h4>
    @*<div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <input class="form-check-input" type="radio" name="radioOrdenamiento" id="exampleRadios2" value="nombreDesc">
                    <label class="form-check-label" for="exampleRadios2">
                        Débito
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <input class="form-check-input" type="radio" name="radioOrdenamiento" id="exampleRadios3" value="fechaAsc">
                    <label class="form-check-label" for="exampleRadios3">
                        Crédito
                    </label>
                </div>
            </div>
        </div>
    </div>*@
    <hr />

    <div class="row">
        <aside class="col-sm-6">
            @foreach (var item in ViewBag.referenciaTarjetaEmpresa as ICollection<Model.Models.TarjetaEmpresa>)
            {
                <article class="card">
                    <div class="card-body p-5">

                        <form role="form">
                            <input type="hidden" id="idPlan" value="@ViewBag.idPlan" />

                            <input type="hidden" id="idPlanAnterior" value="@ViewBag.idPlanAnterior" />
                            <div class="form-group">
                                <label for="username">Nombre de tarjeta</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="nombreT" readonly value="@item.NombreTarjeta" placeholder="" required="">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group.// -->

                            <div class="form-group">
                                <label for="cardNumber">Número de Tarjeta</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                    <input type="text" class="form-control" value="@item.NumeroTarjeta" readonly name="numeroT" placeholder="">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group.// -->

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label><span class="hidden-xs">Expiration</span> </label>
                                        <div class="form-inline">
                                            <input type="text" class="form-control" value="@item.FechaExpiracion" readonly name="fechaT" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label data-toggle="tooltip" title="" data-original-title="3 números detrás de la tarjeta">CVV <i class="fa fa-question-circle"></i></label>
                                        <input class="form-control" required="" value="@item.TarjetaCVV" readonly type="text">
                                    </div> <!-- form-group.// -->
                                </div>
                            </div> <!-- row.// -->
                            <button class="subscribe btn btn-success btn-block" id="btnPagar" type="button"> Pagar  </button>
                        </form>
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->
            }
        </aside> <!-- col.// -->

    </div> <!-- row.// -->
    <!--container end.//-->

}
else
{
    <div class="row">
        <div class="col-md-12" style="margin: 20px 0px 0px 20px;">
            <h2 style="color:#808080">No se encontró registro de tarjetas</h2>
        </div>
    </div>

}