
@if (ViewBag.PublicacionesEmpresa.Count > 0)
{
    <div class="row">
        <div class="col-md-9">
            <h3>Publicaciones</h3>
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <hr />
    <div class="row">
            @foreach (var item in ViewBag.PublicacionesEmpresa as IEnumerable<Model.Models.DetallePublicacion>
            )
            {
                <div class="col-md-3" id="card-3">
                    <div class="card shadow"> 
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-uppercase mb-1">
                                        @item.FechaPublicacion
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <p> @item.AutorPublicacion</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mr-2"></div>
                                <div class="col-auto">
                                    @if (item.EstadoPublicacion == 1)
                                    {
                                        <span class="badge badge-success">Activa</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Inactiva</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("DetallePublicaciones", "Empresa", new { id = @item.IdPublicacion })" class="text-primary" title="Ver publicacion" style="width: 100%; color:#808080;">
                                @item.TituloPublicacion
                            </a>
                        </div>
                    </div>

                </div>

            }
        <br />
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="error-template">

                <div class="error-details">
                    <h4>   No se encontraron publicaciones.</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

}

@*<div class="card">

        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">
                        <a href="@Url.Action("DetallePublicaciones", "Empresa", new { id = @item.IdPublicacion })" title="Ver publicacion" style="width: 100%; color:#808080;">
                            @item.TituloPublicacion
                        </a>
                    </div>

                </div>
                <div class="col-auto">
                    <p> @item.AutorPublicacion</p>
                </div>
            </div>
        </div>
    </div>*@


