
@if (ViewBag.PublicacionesEmpresa.Count > 0)
{
    <h3>Publicaciones</h3>
    <hr />
    <div class="card-deck col-md-12">
        @foreach (var item in ViewBag.PublicacionesEmpresa as ICollection<Model.Models.PublicacionesEmpresa>)
        {
            <div class="card col-md-4">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                <a href="@Url.Action("EditarPublicacion", "Empresa", new { id = @item.IdPublicacion })" title="Ver publicacion" style="width: 100%; color:#808080;">
                                    @item.NombrePublicacion
                                </a>
                            </div>

                        </div>
                        @*<div class="col-auto">
                            <a href="#" onclick="CargoModal(2, '@item.IdPublicacion');" data-toggle="modal" data-target="#modalRegisterForm" data-backdrop="static" data-keyboard="false" title="Editar">Editar</a>
                            <span>&nbsp;&nbsp;</span>

                        </div>*@
                    </div>
                </div>
            </div>


        }
    </div>

}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#808080">NO EXISTEN PUBLICACIONES</h2>

        </div>
    </div>

}

<div class="modal fade" id="modalRegistroPublicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("Empresa/_ModalRegistroPublicacion")
        </div>
    </div>
</div>
